__pycache__
.ipynb_checkpoints
bin
clipped
etc
images
include
lib
recognize-anything
share
videos
playing.ipynb
scene-keyframes
Lato
*.png
fonts
workflow-custom-fonts
subvideos
scene_outputs
testing_optimality.png
output.jpg
fast_scene_detection